@model IEnumerable<Projecten>
    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="text-center">
        <h1>Projecten</h1>
        <p>
            Deze weergave is bedoeld voor studenten die een opdracht zoeken. Je kan hier de opdracht, categorie, potentiële beloning en publicatiedatum inzien.
        </p>
    </div>

    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID-nummer</th>
                <th>Opdracht</th>
                <th>Categorie</th>
                <th>Potentiële verdiensten</th>
                <th>Publicatiedatum</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">@obj.Id</td>
                <td width="35%">@obj.projectNaam</td>
                <td width="35%">@obj.projectCategorie</td>
                <td width="50%">@obj.verdienstenBijAfronden</td>
                <td width="50%">@obj.beschikbaarVanaf</td>
            </tr>
        }
        </tbody>
    </table>

